@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');


  .flicker {
    font-size: 4rem;
    font-family: 'Merienda', sans-serif;
    margin: 1rem auto;
    color: #ffa70381;
    background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
  }
  @keyframes flick {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  
  @media screen and (max-width:767px) {
    .flicker{
        font-size: 2rem;
    }
  }

  